---
import type { CollectionEntry } from "astro:content";

type Props = {
  entry: CollectionEntry<"blog-es"> | CollectionEntry<"blog-en"> | CollectionEntry<"projects-es"> | CollectionEntry<"projects-en"> | CollectionEntry<"work-es"> | CollectionEntry<"work-en">;
  href: string;
  icon?: string;
};

const { entry, href, icon } = Astro.props;
const isWork = entry.collection === "work-es" || entry.collection === "work-en";
const title = isWork ? (entry as CollectionEntry<"work-es">).data.company : (entry as CollectionEntry<"blog-es">).data.title;
const description = isWork ? (entry as CollectionEntry<"work-es">).data.role : (entry as CollectionEntry<"blog-es">).data.description;
---

<a href={href} class="relative group flex flex-nowrap gap-4 py-3 px-4 pr-10 rounded-lg border border-black/15 dark:border-white/20 hover:bg-black/5 dark:hover:bg-white/5 hover:text-black dark:hover:text-white transition-colors duration-300 ease-in-out">
  {icon && (
    <img src={icon} alt="" class="size-16 rounded object-cover shrink-0 self-center" />
  )}
  <div class="flex flex-col flex-1 truncate justify-center">
    <div class="font-semibold">
      {title}
    </div>
    <div class="text-sm">
      {description}
    </div>
  </div>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 24 24"
    class="absolute top-1/2 right-2 -translate-y-1/2 size-5 stroke-2 fill-none stroke-current">
    <line x1="5" y1="12" x2="19" y2="12" class="translate-x-3 group-hover:translate-x-0 scale-x-0 group-hover:scale-x-100 transition-transform duration-300 ease-in-out" />
    <polyline points="12 5 19 12 12 19" class="-translate-x-1 group-hover:translate-x-0 transition-transform duration-300 ease-in-out" />
  </svg>
</a>
