---
import { type CollectionEntry, getCollection, render } from "astro:content";
import PageLayout from "@layouts/PageLayout.astro";
import Container from "@components/Container.astro";
import { dateRange, idToSlug } from "@lib/utils";
import BackToPrev from "@components/BackToPrev.astro";

export async function getStaticPaths() {
  const work = (await getCollection("work-es")).filter((entry) => entry.data.include.web);
  return work.map((entry) => ({
    params: { slug: idToSlug(entry.id) },
    props: entry,
  }));
}
type Props = CollectionEntry<"work-es">;

const entry = Astro.props;
const { Content } = await render(entry);
---

<PageLayout title={entry.data.company} description={entry.data.role}>
  <Container>
    <div class="animate">
      <BackToPrev href="/work">
        Volver a experiencia
      </BackToPrev>
    </div>
    <div class="space-y-1 my-10">
      <div class="animate text-sm opacity-75">
        {dateRange(entry.data.dateStart, entry.data.dateEnd, "es")}
      </div>
      <div class="animate text-2xl font-semibold text-black dark:text-white">
        {entry.data.company}
      </div>
      <div class="animate text-sm opacity-75">
        {entry.data.role}
      </div>
    </div>
    <article class="animate">
      <Content />
    </article>
  </Container>
</PageLayout>
